# {{ index .Help "api" }}
default-api: ollama
# {{ index .Help "model" }}
default-model: qwen3:4b-instruct
# {{ index .Help "format-text" }}
format-text:
  markdown: '{{ index .Config.FormatText "markdown" }}'
  json: '{{ index .Config.FormatText "json" }}'
# {{ index .Help "mcp-servers" }}
mcp-servers:
  # Example: GitHub MCP via Docker:
  # github:
  #   command: docker
  #   env:
  #     - GITHUB_PERSONAL_ACCESS_TOKEN=xxxyyy
  #   args:
  #     - run
  #     - "-i"
  #     - "--rm"
  #     - "-e"
  #     - GITHUB_PERSONAL_ACCESS_TOKEN
  #     - "ghcr.io/github/github-mcp-server"
# {{ index .Help "mcp-timeout" }}
mcp-timeout: 15s
# {{ index .Help "roles" }}
roles:
  "default": []
  # Example, a role called `shell`:
  # shell:
  #   - you are a shell expert
  #   - you do not explain anything
  #   - you simply output one liners to solve the problems you're asked
  #   - you do not provide any explanation whatsoever, ONLY the command
# {{ index .Help "format" }}
format: false
# {{ index .Help "role" }}
role: "default"
# {{ index .Help "raw" }}
raw: false
# {{ index .Help "quiet" }}
quiet: false
# {{ index .Help "temp" }}
temp: 1.0
# {{ index .Help "topp" }}
topp: 1.0
# {{ index .Help "topk" }}
topk: 50
# {{ index .Help "no-limit" }}
no-limit: false
# {{ index .Help "word-wrap" }}
word-wrap: 80
# {{ index .Help "prompt-args" }}
include-prompt-args: false
# {{ index .Help "prompt" }}
include-prompt: 0
# {{ index .Help "max-retries" }}
max-retries: 5
# {{ index .Help "fanciness" }}
fanciness: 10
# {{ index .Help "status-text" }}
status-text: Generating
# {{ index .Help "theme" }}
theme: charm
# {{ index .Help "max-input-chars" }}
max-input-chars: 12250
# {{ index .Help "max-tokens" }}
# max-tokens: 100
# {{ index .Help "max-completion-tokens" }}
max-completion-tokens: 100
# {{ index .Help "apis" }}
apis:
  ollama:
    base-url: http://localhost:11434
    models:
  